@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap");
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

@font-face {
  font-family: "Pontiac";
  src: url(./../fonts/Fontspring-DEMO-pontiac_regular.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}

.diagonal-gradient-background {
  background: linear-gradient(80deg, #000, #423932);
  /* Adjust the colors and angle as needed */
}